---
layout: default
date: 2015-02-21 00:11
---


<ul class="post-list">
{% for post in paginator.posts %}
  <li>
	<h2>
	  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	</h2>
	  <time class="meta" datetime="{{ post.date | date: '%Y-%m-%d %H:%M' }}">{{ post.date | date: "%b %-d, %Y" }}</time>
	  {{ post.excerpt }}
  </li>
{% endfor %}
</ul>

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

<div class="pagination">
	{% if paginator.previous_page %}
	<a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
	{% else %}
	<span class="previous">Previous</span>
	{% endif %}
	<span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
	{% if paginator.next_page %}
	<a href="{{ paginator.next_page_path }}" class="next">Next</a>
	{% else %}
	<span class="next ">Next</span>
	{% endif %}
</div>
