$base-font-family: Georgia, 'times new roman', Times, serif;
$base-font-size: 18px;
$base-font-line-height: 29px;
$base-line-height: 1.4;

$block-font-family: Helvetica, Helvetica Neue, Arial, sans-serif;

$text-color: black;
$pre-background-color: rgba(136, 136, 136, 0.1);
$link-decoration-color: rgba(136, 136, 136, 0.4);
$tag-color: #888;
$box-shadow: #aaa;

$sprite-png: url(/img/sprite.png);
